<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sxt.approval.mapper.ProcessMapper">

    <!--查Deployment表的息:loadAllProcess:https://blog.csdn.net/qq_17011423/article/details/85262499-->
    <select id="loadAllProcess" resultType="java.util.HashMap">
        select * from act_re_deployment where 1=1
        <if test="processName!=null and processName!=''">
            and NAME_=#{processName}
        </if>
    </select>

  <!-- /**请假单act_re_procdef表查询l流程信息*/-->
    <select id="loadAllProcdef" resultType="java.util.HashMap">
        select * from act_re_procdef where DEPLOYMENT_ID_ in
        <foreach collection="list" index="index" item="deploymentId" open="(" separator="," close=")">
            #{deploymentId}
        </foreach>
    </select>

    <!--/**上传流程部署文件*/-->
    <insert id="saveProcessData">
        insert into storage_file
        (filenamebpmn,definitionname,filenamepng,variable)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.filenamebpmn},
            #{item.definitionname},
            #{item.filenamepng},
            #{item.variable}
            )
        </foreach>
    </insert>

    <!--/**查看所有做好的流程(保存已部署和为部署)*/-->
    <select id="deployProcessTable" resultType="java.util.HashMap">
        select * from storage_file where 1=1
        <if test="deployName!=null and deployName!=''">
            and definitionname=#{deployName}
        </if>
        <if test="variable!=null and variable!=''">
            and variable=#{variable}
        </if>
    </select>

    <!--修改流程的状态:updateProcessState-->
    <select id="updateProcessState">
        update storage_file set variable= #{deploy} where id = #{id}
    </select>
</mapper>
