<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>缓存管理</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="Access-Control-Allow-Origin" content="*">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no">
<link rel="icon" href="/favicon.ico">
<link rel="stylesheet" href="/resources/layui/css/layui.css" media="all" />
<link rel="stylesheet" href="/resources/css/public.css" media="all" />
</head>
<body class="childrenBody">
<div>
	<table class="layui-hide" id="cacheTable" lay-filter="cacheTable"></table>
	<div id="cacheToolBar" style="display: none;">
		<button type="button" lay-event="removeAll" class="layui-btn layui-btn-sm"><span class="layui-icon layui-icon-delete"></span>清空缓存</button>
		<button type="button" lay-event="syncCache" class="layui-btn layui-btn-sm"><span class="layui-icon layui-icon-about"></span>同步缓存</button>
	</div>
	
	<div id="cacheRowBar" style="display: none;">
		<button type="button" lay-event="delete" class="layui-btn layui-btn-sm layui-btn-danger"><span class="layui-icon layui-icon-delete"></span>删除</button>
	</div>
</div>
<!-- 数据表格结束 -->

<script type="text/javascript" src="/resources/layui/layui.js"></script>
<script type="text/javascript" src="/resources/page/system/cache/cacheManager.js"></script>
</body>
</html>